<%= provide(:title, "Help") %>

<div class="jumbotron center">
	<h1>Awesome Blog Application</h1>
	<p>
		Get help on this blog at <a href="">Kredo Japan</a> and 
		<a href="">Framgia PH</a>.
	</p>
</div>