<!-- 必要なときだけオブジェクトを作る。コントローラだと毎回つくられてしまう　-->
<%= form_for(current_user.active_relationships.build) do |f| %>
<div><%= hidden_field_tag :followed_id, @user.id %></div>
<%= f.submit "Follow", class: 'btn btn-primary form-control' %>
<% end %>